[Desktop Entry]
Encoding=UTF-8
Name=Link to weka - Couldn't read from database - unknown data type
Type=Link
URL=http://weka.wikispaces.com/Couldn%27t+read+from+database+-+unknown+data+type
Icon=gnome-fs-bookmark
